## Libraries

**Python Libraries**

In [1]:
import pandas as pd
import numpy as np

**Data Team Libraries**

In [2]:
path = r'C:\Users\Admin\Documents\GitHub\Operational-Library-For-Data-Engineers' #Input
import sys
sys.path.insert(0,path)

from manage_duplicates.merge_duplicate_records_by_a_key_in_a_frame import merge_duplicate_records_by_a_key_in_a_frame

## Read Your Frame

In [3]:
df = pd.read_csv('Test.csv')

In [5]:
df

,Record ID,Company Name,Phone Number,Street Address,Type,Key
0,1014,Wired AK,NaN,2665 Turner Rd SE,A,wired ak
1,1015,Wired AK LLC,702-293-1403,2665 Turner Rd S E,A,wired ak
2,1016,Xamax Industries Inc,+1 203-881-7113,63 Silvermine Rd,B,xamax industries
3,1017,"Xamax Industries, Inc.",203-881-7113,NaN,C,xamax industries
4,1018,Wilsonart,9075622444,1616 Ann Way,A,wilsonart

This code works according a unique key which allows us to identify duplicates, use the codes "Find Duplicated..." to get this key.

In [6]:
unique_key_column_name = 'Key'

## Merge Duplicates

In [7]:
duplicates_frame_merged = merge_duplicate_records_by_a_key_in_a_frame(duplicates_frame = df,
                                                                      unique_key_column_name = unique_key_column_name,
                                                                      create_date_column_name = '',
                                                                      list_of_columns_with_values_to_concatenate = ['Type'])

Loop # 0 of 2
Loop # 2 of 2
Process completed...

In the resulting frame we can see that the merge was performed correctly, where the main record keeps the values of the other records and the different values are correctly concatenated.

In [8]:
duplicates_frame_merged

,Record ID,Company Name,Phone Number,Street Address,Type,Key
0,1014,Wired AK,702-293-1403,2665 Turner Rd SE,A,wired ak
1,1016,Xamax Industries Inc,+1 203-881-7113,63 Silvermine Rd,B;C,xamax industries
2,1018,Wilsonart,9075622444,1616 Ann Way,A,wilsonart