### Welcome to the Week 4

In [1]:
import pandas as pd
import re

üìª¬†Challenge 1: Collecting records

Most of the time, we'll be able to simply export all of the data from the source CRM through a csv, however, it's useful to familiarize yourself with Hubspot's CRM API.
For this challenge a HubSpot account has been set up with dummy records, use this token to extract them through HubSpot's API.¬†pat-na1-31a5395b-7139-44dd-b12b-18192cc30b45.
In a¬†collect.py¬†file, create a function to collect and save all the contact records marked with ‚Äútrue‚Äù in the "allowed_to_collect" property from the source account.
The function should receive an access token, a list of properties to be extracted and the path of the folder to save the file as parameters, it should return the path of the created file.
The properties to be collected for each contact are: ‚Äúfirstname‚Äù, ‚Äúlastname‚Äù, ‚Äúcountry‚Äù, ‚Äúphone‚Äù, ‚Äútraining___create_date‚Äù, ‚Äúindustry‚Äù, ‚Äúaddress‚Äù,"checkbox", "raw_email_id" and ‚Äúhs_object_id‚Äù.
This action must be executed using the HubSpot API and the requests Python library.
API Documentation:¬†https://developers.hubspot.com/docs/guides/api/crm/search
Note: A collection of more than 6,000 contacts is expected.
Save them in a¬†contact_collection.csv¬†file.
Add the¬†collect.py¬†and the¬†contact_collection.csv¬†files to the week 4 folder of your repository.

In [ ]:
import requests
import requests
import pandas as pd
import json

In [ ]:

def allowed_to_collect(after,access_token,properties):
    headers={
            'content-type':'application/json',
            'authorization':'Bearer '+access_token
            }
    url='https://api.hubapi.com/crm/v3/objects/contacts/search'

    data={
            "after":after,
            "limit":100,
            "properties":properties,
            #"properties": ["firstname", "lastname", "country", "phone", "training___create_date", "industry", "address","checkbox", "raw_email_id" , "hs_object_id","allowed_to_collect"],
            #"filterGroups":[{ "filters":[{"propertyName": "allow_to_collect", "value": "true","operator": "EQ"}]}]
            "filterGroups": [{"filters": [{"propertyName": "allowed_to_collect","operator": "EQ","value": "true"}]}]
            }
    return requests.post(url,headers=headers,json=data)
def  token_propertis(access_token,path,properties):
    todo=[]
    after=0
    while True:
        
        response=allowed_to_collect(after,access_token,properties)
        results= response.json()['results']
        todo.extend(results)
        if response.status_code != 200:
            print('no se pudo traer la informacion')
            break
    
        
        if "paging" in response.json() :
            
            after=response.json()["paging"]["next"]["after"]
            
        
            

        else:
            break
    df=pd.DataFrame(todo)
    dfq=pd.json_normalize(df['properties'])
    df_final = pd.concat([df[['id']], dfq], axis=1)
    nomfile=r'\contact_collection.csv'
    df_final.to_csv(path+nomfile,index=False)
    return path+nomfile

üîÄ¬†Challenge 2: Mapping and data manipulation

7. Create a function extract_email to extract only the email from the raw emails. The input of this function must be a string and the output must be a string containing only the email address found. This function must be created in a different folder in a¬†transformations.py¬†file and imported into your notebook, then apply the function over the raw emails.

In [2]:
df_1=pd.read_csv(r"C:\Users\Juan Pablo Pelaez\Documents\Training\Training APIs\contact_collection.csv")
df_2=pd.read_csv(r"C:\Users\Juan Pablo Pelaez\Documents\Training\Training APIs\Raw Email Ids.csv")

In [3]:
df_1["raw_email_id"] = df_1["raw_email_id"].astype(str)
df_2["Id"] = df_2["Id"].astype(str)
df_merged = df_2.merge(df_1, left_on="Id", right_on="raw_email_id", how="inner")
df_merged

,Id,Raw Email,id,address,allowed_to_collect,checkbox,country,createdate,firstname,hs_object_id,industry,lastmodifieddate,lastname,phone,raw_email_id,training___create_date
0,716,adalind_simpson1560138772@hourpy.biz,89878047258,"Rivervalley Avenue, 8068",True,True,Cork,2025-01-08T15:30:31.687Z,Adalind,89878047258,Milling,2025-01-08T22:18:05.363Z,Simpson,5-420-640-826 ext 65,716,2021-03-11
1,767,aiden_vane1590802285@gompie.com,89878047259,"Virginia Crossroad, 5214",True,True,Dublin,2025-01-08T15:30:31.728Z,Aiden,89878047259,Dairy products,2025-01-08T22:18:05.593Z,Vane,2-372-253-785 ext 69,767,2021-06-04
2,61,josh_watson2067035556@muall.tech,89878047260,"Canning Alley, 8240",True,True,Ireland,2025-01-08T15:30:31.762Z,Josh,89878047260,Fruit and vegetables,2025-01-08T22:18:05.238Z,Watson,1-645-454-724 ext 65,61,2021-11-07
3,344,owen_drew939014660@eirey.tech,89878047261,"Chandos Tunnel, 8561",True,True,Milton Keynes,2025-01-08T15:30:31.766Z,Owen,89878047261,Fruit and vegetables,2025-01-08T22:18:05.273Z,Drew,3-064-744-070 ext 69,344,2021-10-26
4,1304,benny_thorpe97998383@deavo.com,89878047262,"Tiptree Way, 3024",True,True,England,2025-01-08T15:30:31.791Z,Benny,89878047262,Bakery products,2025-01-08T22:18:05.515Z,Thorpe,0-054-418-451 ext 1,1304,2021-05-30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6930,3145,gil_mcgregor1036850627@bretoux.com,89932437566,"Apsley Route, 4867",True,True,Plymouth,2025-01-08T15:30:33.068Z,Gil,89932437566,Bakery products,2025-01-08T22:18:06.566Z,Mcgregor,0-067-783-783 ext 13,3145,2021-01-14
6931,5161,maxwell_pearce1298410507@iatim.tech,89932437567,"Sherwood Pass, 744",True,True,Milton Keynes,2025-01-08T15:30:33.097Z,Maxwell,89932437567,Animal feeds,2025-01-08T22:18:06.192Z,Pearce,2-447-566-522 ext 36,5161,2021-04-14
6932,4660,luke_phillips922949280@gompie.com,89932437568,"Beaumont Vale, 9920",True,True,Limerick,2025-01-08T15:30:33.403Z,Luke,89932437568,Animal feeds,2025-01-08T22:18:06.006Z,Phillips,6-472-818-188 ext 22,4660,2021-05-05
6933,4845,mark_james963207995@grannar.com,89932437569,"Catherine Crossroad, 5697",True,True,London,2025-01-08T15:30:33.435Z,Mark,89932437569,Dairy products,2025-01-08T22:18:06.136Z,James,1-452-705-205 ext 18,4845,2021-02-16
6934,6794,tyson_raven1490972250@nimogy.biz,89932437570,"Thorndike Tunnel, 1641",True,True,Cork,2025-01-08T15:30:33.799Z,Tyson,89932437570,Animal feeds,2025-01-08T22:18:06.072Z,Raven,0-567-778-553 ext 74,6794,2021-12-31

In [4]:
def email_extraccion(df,columna):
    pattern = r'<([^<>]+)>'
    df['Email'] = df[columna].apply(lambda x: re.search(pattern, str(x)).group(1) if re.search(pattern, str(x)) else None)
    return df

In [5]:
email_extraccion(df_merged,'Raw Email')

,Id,Raw Email,id,address,allowed_to_collect,checkbox,country,createdate,firstname,hs_object_id,industry,lastmodifieddate,lastname,phone,raw_email_id,training___create_date,Email
0,716,adalind_simpson1560138772@hourpy.biz,89878047258,"Rivervalley Avenue, 8068",True,True,Cork,2025-01-08T15:30:31.687Z,Adalind,89878047258,Milling,2025-01-08T22:18:05.363Z,Simpson,5-420-640-826 ext 65,716,2021-03-11,None
1,767,aiden_vane1590802285@gompie.com,89878047259,"Virginia Crossroad, 5214",True,True,Dublin,2025-01-08T15:30:31.728Z,Aiden,89878047259,Dairy products,2025-01-08T22:18:05.593Z,Vane,2-372-253-785 ext 69,767,2021-06-04,None
2,61,josh_watson2067035556@muall.tech,89878047260,"Canning Alley, 8240",True,True,Ireland,2025-01-08T15:30:31.762Z,Josh,89878047260,Fruit and vegetables,2025-01-08T22:18:05.238Z,Watson,1-645-454-724 ext 65,61,2021-11-07,None
3,344,owen_drew939014660@eirey.tech,89878047261,"Chandos Tunnel, 8561",True,True,Milton Keynes,2025-01-08T15:30:31.766Z,Owen,89878047261,Fruit and vegetables,2025-01-08T22:18:05.273Z,Drew,3-064-744-070 ext 69,344,2021-10-26,None
4,1304,benny_thorpe97998383@deavo.com,89878047262,"Tiptree Way, 3024",True,True,England,2025-01-08T15:30:31.791Z,Benny,89878047262,Bakery products,2025-01-08T22:18:05.515Z,Thorpe,0-054-418-451 ext 1,1304,2021-05-30,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6930,3145,gil_mcgregor1036850627@bretoux.com,89932437566,"Apsley Route, 4867",True,True,Plymouth,2025-01-08T15:30:33.068Z,Gil,89932437566,Bakery products,2025-01-08T22:18:06.566Z,Mcgregor,0-067-783-783 ext 13,3145,2021-01-14,None
6931,5161,maxwell_pearce1298410507@iatim.tech,89932437567,"Sherwood Pass, 744",True,True,Milton Keynes,2025-01-08T15:30:33.097Z,Maxwell,89932437567,Animal feeds,2025-01-08T22:18:06.192Z,Pearce,2-447-566-522 ext 36,5161,2021-04-14,None
6932,4660,luke_phillips922949280@gompie.com,89932437568,"Beaumont Vale, 9920",True,True,Limerick,2025-01-08T15:30:33.403Z,Luke,89932437568,Animal feeds,2025-01-08T22:18:06.006Z,Phillips,6-472-818-188 ext 22,4660,2021-05-05,None
6933,4845,mark_james963207995@grannar.com,89932437569,"Catherine Crossroad, 5697",True,True,London,2025-01-08T15:30:33.435Z,Mark,89932437569,Dairy products,2025-01-08T22:18:06.136Z,James,1-452-705-205 ext 18,4845,2021-02-16,None
6934,6794,tyson_raven1490972250@nimogy.biz,89932437570,"Thorndike Tunnel, 1641",True,True,Cork,2025-01-08T15:30:33.799Z,Tyson,89932437570,Animal feeds,2025-01-08T22:18:06.072Z,Raven,0-567-778-553 ext 74,6794,2021-12-31,None

In [6]:
'''
guardo la ruta del archivo y lo leo con pandas
'''
df=(r"C:\Users\Juan Pablo Pelaez\Documents\Training\Training APIs\limpiesa\File To Import - copia (2).csv")
df=pd.read_csv(df)
df

,Id,Street Address,Allowed To Collect,Checkbox,Country/Region,Createdate,First Name,Temporary ID,Industry,Lastmodifieddate,Last Name,Phone Number,Email,Training Create Date,Email Validation,Original Email
0,89900742223,"Boadicea Lane, 1368",Yes,Yes,Dublin,2025-01-08,Carrie,89900742223,Animal feeds,2025-01-08,Rees,0-045-278-522 ext 25,carrie_rees1243518944@tonsy.org,2021-03-26,Valid,NaN
1,89923835996,"Norfolk Rue, 5174",Yes,Yes,Oxford,2025-01-08,Esmeralda,89923835996,Fruit and vegetables,2025-01-08,York,6-866-445-484 ext 85,esmeralda_york235096819@ubusive.com,2021-10-27,Valid,NaN
2,89926039813,"Walnut Route, 8868",Yes,Yes,Limerick,2025-01-08,Javier,89926039813,Animal feeds,2025-01-08,Ogilvy,4-330-564-786 ext 2,javier_ogilvy1286833203@sveldo.biz,2021-05-10,Valid,NaN
3,89931282301,"Thomas More Walk, 6363",Yes,Yes,Cork,2025-01-08,Payton,89931282301,Meat,2025-01-08,Becker,4-822-073-186 ext 19,payton_becker94954582@acrit.org,2021-07-31,Valid,NaN
4,89923178834,"Baylis Avenue, 5446",Yes,Yes,Winchester,2025-01-08,Aeris,89923178834,Poultry and fish,2025-01-08,Clarke,0-206-223-571 ext 60,aeris_clarke836034276@qater.org,2021-02-07,Valid,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6931,89929492338,"Bede Avenue, 4773",Yes,Yes,England,2025-01-08,Alan,89929492338,Meat,2025-01-08,Warner,7-260-282-170 ext 87,alan_warner22954315@fuliss.net,2021-04-28,Valid,alan_warner22954315@fuliss.net
6932,89922872760,"Cedarne Vale, 145",Yes,Yes,England,2025-01-08,Alan,89922872760,Poultry and fish,2025-01-08,Warner,7-260-282-170 ext 2,alan_warner22954315+101@fuliss.net,2021-03-04,Valid,alan_warner22954315@fuliss.net
6933,89924828747,"Timothy Lane, 7367",Yes,Yes,England,2025-01-08,NaN,89924828747,Bakery products,2025-01-08,NaN,NaN,alan_warner22954315+102@fuliss.net,2021-08-08,Valid,alan_warner22954315@fuliss.net
6934,89922428342,"Chartham Tunnel, 2674",Yes,Yes,England,2025-01-08,NaN,89922428342,Bakery products,2025-01-08,NaN,7-260-282-170 ext 44,alan_warner22954315+103@fuliss.net,2021-12-06,Valid,alan_warner22954315@fuliss.net
6935,89922983299,"Vincent Drive, 874",Yes,Yes,England,2025-01-08,NaN,89922983299,Fruit and vegetables,2025-01-08,NaN,NaN,alan_warner22954315+104@fuliss.net,2021-05-28,Valid,alan_warner22954315@fuliss.net

a. Country Recognition: for each record, in the ‚Äúcountry‚Äù property you can find a country or city name. Create a function country_recognition that recognizes if this record value corresponds to a country or a city (You can create a data structure with the known possible values inside of the function). The input of this function must be a string and the output must be a tuple containing (country_found, city_found), if you don't know the city the function should return (country_found, ''), however, if you know the city it must return both values.

In [7]:
'''
creo una funcion para hacer una clasificacion de ciudad y de pais 
'''
def ciudades(phat, columna):

    df = pd.read_csv(phat)
    
    '''
    por ser pocas ciudades la pude crear a mano 
    
    '''
    #diccionario para saber en pais se encuentra la ciudad
    cities = {
        "Cork": "Ireland",
        "Dublin": "Ireland",
        "Limerick": "Ireland",
        "Waterford": "Ireland",
        "London": "England",
        "Milton Keynes": "England",
        "Oxford": "England",
        "Plymouth": "England",
        "Winchester": "England"
    }
    
#tupla de los paises
    countries = {"England", "Ireland"}

    def classify(value):
        
        if value in cities:
            
            return (cities[value], value)
        
        elif value in countries:
            return (value, "")
    
        else:
            return ("nada", "")
    
    #se crea una columna para guardar la clasificacion y los valores se van a comparar con la columna que pedimos en la primera funcion 
    df["classification"] = df[columna].apply(classify)
    
    #sobreescribimos country, con el lambda para que sea fila por fila(se va aplicar el valor que esta en la izquirda por el x[0])
    df["Country/Region"] = df["classification"].apply(lambda x: x[0])
    #sobreescribimos city, con el lambda para que sea fila por fila(se va aplicar el valor que esta en la derecha por el x[1])
    df["City"] = df["classification"].apply(lambda x: x[1])
    #borro la columna y ya lo guardo
    df= df.drop(columns='classification')
    df.to_csv(r"C:\Users\Juan Pablo Pelaez\Documents\Training\Training APIs\limpiesa\File.csv",index=False)
    return df

In [8]:
ciudades(r"C:\Users\Juan Pablo Pelaez\Documents\Training\Training APIs\limpiesa\File To Import - copia (2).csv",'Country/Region')

,Id,Street Address,Allowed To Collect,Checkbox,Country/Region,Createdate,First Name,Temporary ID,Industry,Lastmodifieddate,Last Name,Phone Number,Email,Training Create Date,Email Validation,Original Email,City
0,89900742223,"Boadicea Lane, 1368",Yes,Yes,Ireland,2025-01-08,Carrie,89900742223,Animal feeds,2025-01-08,Rees,0-045-278-522 ext 25,carrie_rees1243518944@tonsy.org,2021-03-26,Valid,NaN,Dublin
1,89923835996,"Norfolk Rue, 5174",Yes,Yes,England,2025-01-08,Esmeralda,89923835996,Fruit and vegetables,2025-01-08,York,6-866-445-484 ext 85,esmeralda_york235096819@ubusive.com,2021-10-27,Valid,NaN,Oxford
2,89926039813,"Walnut Route, 8868",Yes,Yes,Ireland,2025-01-08,Javier,89926039813,Animal feeds,2025-01-08,Ogilvy,4-330-564-786 ext 2,javier_ogilvy1286833203@sveldo.biz,2021-05-10,Valid,NaN,Limerick
3,89931282301,"Thomas More Walk, 6363",Yes,Yes,Ireland,2025-01-08,Payton,89931282301,Meat,2025-01-08,Becker,4-822-073-186 ext 19,payton_becker94954582@acrit.org,2021-07-31,Valid,NaN,Cork
4,89923178834,"Baylis Avenue, 5446",Yes,Yes,England,2025-01-08,Aeris,89923178834,Poultry and fish,2025-01-08,Clarke,0-206-223-571 ext 60,aeris_clarke836034276@qater.org,2021-02-07,Valid,NaN,Winchester
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6931,89929492338,"Bede Avenue, 4773",Yes,Yes,England,2025-01-08,Alan,89929492338,Meat,2025-01-08,Warner,7-260-282-170 ext 87,alan_warner22954315@fuliss.net,2021-04-28,Valid,alan_warner22954315@fuliss.net,
6932,89922872760,"Cedarne Vale, 145",Yes,Yes,England,2025-01-08,Alan,89922872760,Poultry and fish,2025-01-08,Warner,7-260-282-170 ext 2,alan_warner22954315+101@fuliss.net,2021-03-04,Valid,alan_warner22954315@fuliss.net,
6933,89924828747,"Timothy Lane, 7367",Yes,Yes,England,2025-01-08,NaN,89924828747,Bakery products,2025-01-08,NaN,NaN,alan_warner22954315+102@fuliss.net,2021-08-08,Valid,alan_warner22954315@fuliss.net,
6934,89922428342,"Chartham Tunnel, 2674",Yes,Yes,England,2025-01-08,NaN,89922428342,Bakery products,2025-01-08,NaN,7-260-282-170 ext 44,alan_warner22954315+103@fuliss.net,2021-12-06,Valid,alan_warner22954315@fuliss.net,
6935,89922983299,"Vincent Drive, 874",Yes,Yes,England,2025-01-08,NaN,89922983299,Fruit and vegetables,2025-01-08,NaN,NaN,alan_warner22954315+104@fuliss.net,2021-05-28,Valid,alan_warner22954315@fuliss.net,

b. Fix Phone Numbers: for each record, in the property ‚Äúphone‚Äù you can find a text with a phone number and in most cases an extension; create a function that allows:
i. Separating the extension from the phone number: split the string into the phone number and the extension, eliminating any leading or trailing spaces.
ii. According to the detected country, adding the "country phone code" to the phone number. Please note that numbers must not begin with zero before applying the country code.
iii. The format of the numbers should be arranged as follows: (+XXX) XXXX XXXXXX Example: If the country is England, and the number is 0-080-456-730, then the resulting number should be: (+44) 8045 6730. The input of this function must be a string and the output must be a tuple with the fixed phone number in the requested format and the extension (eg: ext 67).
Use this function to split the values into phone number and extension before importing, also create a new property in your account, "Extension".
This is very similar to the function you created in week 3.
c. Fixing Industry options: If you review the values in the industry property you'll see that they don't coincide exactly with the options you used in the mapping, specifically, "Poultry and fish" and "Fruit and Vegetables" were each split into 2, fix these values so that both values are imported into the multicheck property created, investigate how multicheck values should be imported into HubSpot.

In [9]:
def phone(paht,columnphone, columncountry ):
    df = pd.read_csv(paht)
    resultados=[]
    


    parametro = r'(\d{3}-?\d{3}-?\d{3})' 
    parametrop= r'\bext\b\s*(\d+)'
    for i in range(len(df)):
        phone_text = str(df[columnphone].iloc[i])
        country= str(df[columncountry].iloc[i]).lower()
        result = re.findall(parametro, phone_text)
      
        if not result:
            resultados.append(("", ""))
            continue
        limpio = [re.sub(r'[- ]', '', r).lstrip('0') for r in result]
        if not limpio:
            resultados.append(("", ""))
            continue

        numero_final = str(limpio[0])
        ext_match = re.search(parametrop, phone_text)
        extencion = ext_match.group(1) if ext_match else ""
        
        if len(numero_final) >= 8:
            sub1 = numero_final[0:4]
            sub2 = numero_final[4:8]
        else:
            sub1 = numero_final
            sub2 = ""
        
        if country == 'england':
            numeros_format = ("(+44) " + sub1 + " " + sub2, "ext " + extencion if extencion else "")
        elif country == 'ireland':
            numeros_format = ("(+353) " + sub1 + " " + sub2, "ext " + extencion if extencion else "")
        else:
            numeros_format = (numero_final, "")
        
        resultados.append(numeros_format)
    df["Phone Number"], df["Extension"] = zip(*resultados)
    #df=df.drop(columns=['Unnamed: 0.1','Unnamed: 0'])
    df.to_csv(r"C:\Users\Juan Pablo Pelaez\Documents\Training\Training APIs\limpiesa\File.csv",index=False)
    
    
    return df

In [10]:
phone(r"C:\Users\Juan Pablo Pelaez\Documents\Training\Training APIs\limpiesa\File.csv",'Phone Number','Country/Region')

,Id,Street Address,Allowed To Collect,Checkbox,Country/Region,Createdate,First Name,Temporary ID,Industry,Lastmodifieddate,Last Name,Phone Number,Email,Training Create Date,Email Validation,Original Email,City,Extension
0,89900742223,"Boadicea Lane, 1368",Yes,Yes,Ireland,2025-01-08,Carrie,89900742223,Animal feeds,2025-01-08,Rees,(+353) 4527 8522,carrie_rees1243518944@tonsy.org,2021-03-26,Valid,NaN,Dublin,ext 25
1,89923835996,"Norfolk Rue, 5174",Yes,Yes,England,2025-01-08,Esmeralda,89923835996,Fruit and vegetables,2025-01-08,York,(+44) 8664 4548,esmeralda_york235096819@ubusive.com,2021-10-27,Valid,NaN,Oxford,ext 85
2,89926039813,"Walnut Route, 8868",Yes,Yes,Ireland,2025-01-08,Javier,89926039813,Animal feeds,2025-01-08,Ogilvy,(+353) 3305 6478,javier_ogilvy1286833203@sveldo.biz,2021-05-10,Valid,NaN,Limerick,ext 2
3,89931282301,"Thomas More Walk, 6363",Yes,Yes,Ireland,2025-01-08,Payton,89931282301,Meat,2025-01-08,Becker,(+353) 8220 7318,payton_becker94954582@acrit.org,2021-07-31,Valid,NaN,Cork,ext 19
4,89923178834,"Baylis Avenue, 5446",Yes,Yes,England,2025-01-08,Aeris,89923178834,Poultry and fish,2025-01-08,Clarke,(+44) 2062 2357,aeris_clarke836034276@qater.org,2021-02-07,Valid,NaN,Winchester,ext 60
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6931,89929492338,"Bede Avenue, 4773",Yes,Yes,England,2025-01-08,Alan,89929492338,Meat,2025-01-08,Warner,(+44) 2602 8217,alan_warner22954315@fuliss.net,2021-04-28,Valid,alan_warner22954315@fuliss.net,NaN,ext 87
6932,89922872760,"Cedarne Vale, 145",Yes,Yes,England,2025-01-08,Alan,89922872760,Poultry and fish,2025-01-08,Warner,(+44) 2602 8217,alan_warner22954315+101@fuliss.net,2021-03-04,Valid,alan_warner22954315@fuliss.net,NaN,ext 2
6933,89924828747,"Timothy Lane, 7367",Yes,Yes,England,2025-01-08,NaN,89924828747,Bakery products,2025-01-08,NaN,,alan_warner22954315+102@fuliss.net,2021-08-08,Valid,alan_warner22954315@fuliss.net,NaN,
6934,89922428342,"Chartham Tunnel, 2674",Yes,Yes,England,2025-01-08,NaN,89922428342,Bakery products,2025-01-08,NaN,(+44) 2602 8217,alan_warner22954315+103@fuliss.net,2021-12-06,Valid,alan_warner22954315@fuliss.net,NaN,ext 44
6935,89922983299,"Vincent Drive, 874",Yes,Yes,England,2025-01-08,NaN,89922983299,Fruit and vegetables,2025-01-08,NaN,,alan_warner22954315+104@fuliss.net,2021-05-28,Valid,alan_warner22954315@fuliss.net,NaN,

In [11]:
df=r"C:\Users\Juan Pablo Pelaez\Documents\Training\Training APIs\limpiesa\File.csv"
df=pd.read_csv(df)
df['Industry']=df['Industry'].str.replace('and',';' )
df.to_csv(r"C:\Users\Juan Pablo Pelaez\Documents\Training\Training APIs\limpiesa\File.csv",index=False)

üõ†Ô∏è¬†Challenge 4: (Bonus) Remove the additional emails from the contacts

In [ ]:
df = pd.read_csv(r"C:\Users\Juan Pablo Pelaez\Documents\Training\Training APIs\Remove the additional emails from the contacts\all-contacts.csv",low_memory=False)[['Record ID','Additional email addresses']]
df=df[df['Additional email addresses'].notna()]
df.head(5)

In [ ]:
def delete_aliases(id,email):
    '''
    LE PEGA A LA API PARA BORRAR LOS EMAIL ALIASES
    '''
    headers={
    'content-type':'application/json',
    'authorization':'Bearer pat-na1-49331e3f-d551-4489-917d-03cf307fdee8'
    }
    url=f"https://api.hubapi.com/contacts/v1/secondary-email/{id}/email/{email}"

    
    response = requests.delete(url,headers=headers)
    
    if response.status_code == 200:
        return  response.json()
    
    else:
        return "Error al obtener contactos"

In [ ]:
'''
for index,row in df.iterrows() va a estar recorriendo cada fila, podemos llamar a row y pedirle 
la columna y nos trae el recorrido por cada fila
'''
for index,row in df.iterrows():
    aditional_email=row['Additional email addresses'].replace(' ', '').split(';')
    for i in aditional_email:
        response = delete_aliases(row['Record ID'],i)
        
    
response